<div class="body mb-3">
    <form>
        <div class="text-end flex  mt-12 -ml-4">
            <button mat-icon-button (click)="Close()" [tabIndex]="-1"> x
                <!-- <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon> -->
            </button>
        </div>
        <div class="text-current mb-1">
            <h1>Habilidades para los hacedores</h1>
        </div>
    </form>
    <form [formGroup]="detallesHacedor" (ngsubmit)="onSubmit()">
        <mat-label placeholder="Placeholder"></mat-label>
        <input type="text" size="50" placeholder="Busca tareas" matInput [formControl]="formControlCode"
            [matAutocomplete]="autoCode" (ngModelChange)= guardarDatos($event)>
        <mat-autocomplete autoActiveFirstOption #autoCode="matAutocomplete">
            <mat-option *ngFor="let tarea of listaTareas" [value]="tarea">{{tarea}}</mat-option>
        </mat-autocomplete>

        <div class="form-group mb-1">
            <label for="">Precio que considera correcto para la Habilidad Seleccionada</label>
            <input type="text" name="" id="" class="form-control" placeholder="precio" formControlName="precio">
        </div>
        <div class="form-group mb-1">
            <label for="">Radio: Distancia a la que se encuentra disponible para realizar la tarea</label>
            <input type="text" name="" id="" placeholder="Radio" class="form-control" formControlName="radio">
        </div>
        <div class="mb-3 row">
            <input type="submit" value="Agregar Habilidad" class="btn btn-info btn-block btn-succes"
                (click)="crearHabilidad()" [disabled]="!detallesHacedor.valid" [matTooltip]="'Save'" [mat-dialog-close]="detallesHacedor.value">
        </div>
    </form>

</div>