<div class="Login">
    <div class="header">
        <h1>Iniciar Sesion</h1>
        <!-- <label class="col-sm-2 col-form-label">Iniciar Sesion</label> -->
        <div class="text-end mb-3">
            <div class="flex items-right justify-end mt-12 -ml-4">
                <button class="btn btn-info btn-block btn-succes" 
                    [routerLink]="['/registration']">
                    Registrarse
                </button>
            </div>
        </div>
        <div class="auth-box">
          <div class="row m-b-20">
            <div class="encabezado">
                <!-- <img class="logo" src="assets/images/fondo.png"> -->
              </div>
          </div>
        </div>
    </div>
    <div class="body">
        <form [formGroup]="login" (ngsubmit)="onSubmit()">
            <div class="form-control mb-3">
                <div class="form-group mb-3">
                    <label for="">Correo</label>
                    <input type="text" name="" id="" class="form-control" placeholder="correo" formControlName="correo">
                </div>
                <div class="form-group mb-3">
                    <label for="">Contraseña</label>
                    <input type="password" name="" id="" class="form-control" formControlName="contrasena">
                </div>
                <div class="mb-3 row">
                    <input type="submit" value="iniciarSesion" class="btn btn-info btn-block btn-succes"
                        (click)="iniciarSesion()" [disabled]="!login.valid">
                </div>
            </div>
        </form>
    </div>
</div>